:root {
    --primary-color: #005dd7;
}

@font-face {
    font-family: "Roboto";
    src: url(/src/assets/Roboto-Light.ttf);
}
@font-face {
    font-family: "Montserrat";
    src: url(/src/assets/Montserrat-Light.ttf);
}

html {
    font-size: 62.5%;
    box-sizing: content-box;
}

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}