:root {
    --primary-color: #005dd7;
}

@font-face {
    font-family: "Roboto";
    src: url(/src/assets/Roboto-Light.ttf);
}
@font-face {
    font-family: "Montserrat";
    src: url(/src/assets/Montserrat-Light.ttf);
}
@font-face {
    font-family: "LeagueSpartan";
    src: url(/src/assets/LeagueSpartan-Regular.ttf);
}

html {
    font-size: 62.5%;
    box-sizing: content-box;
}

body {
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

header {
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 0px 50px;
    padding-left: 1em;
}

#logo {
    font-family: "LeagueSpartan", sans-serif;
    color: initial;
    font-weight: bold;
}

#logo_wrapper {
    display: flex;
    align-items: center;
}

.nav-list {
    display: none;
}

.nav-link {
    font-size: 1.3rem;
    color: #000;
    font-weight: 900;
}

#menu_toggler {
    text-align: center;
}

#menu_toggler span {
    width: 100%;
    display: block;
    font-size: 4rem;
}

#intro {
    padding: 1em;
}

#img-blob {
    background-color: #005dd7;
    height: 200px;
    overflow: hidden;
    animation: shapeShift 10s 0s ease infinite;
    box-shadow: 0 10px 20px 2px #005dd797;
}

#img-blob img {
    margin: auto;
    margin-top: -3em;
}

h1 {
    font-weight: 600;
    color: #303030;
    margin-bottom: 1em;
}

h1>strong {
    font-weight: 1500;
    color: #000;
}

h1> span {
    color: var(--primary-color);
    text-transform: capitalize;
}

#background {
    display: flex;
    flex-flow: row wrap;
    margin: 1em;
}

#background > img {
    border-radius: .9em;
}

#background-content {
    margin: 1em auto;
}

#background-content h2 {
    margin: 0;
    margin-bottom: .5em;
}

@keyframes shapeShift {
    to,from  {
        border-top-right-radius: 90%;
        border-bottom-right-radius: 90%;
        border-bottom-left-radius: 80%;
        border-top-left-radius: 70%;
    }

    20% {
        border-top-right-radius: 90%;
        border-bottom-right-radius: 70%;
        border-bottom-left-radius: 90%;
        border-top-left-radius: 70%;
    }

    40% {
        border-top-right-radius: 70%;
        border-bottom-right-radius: 80%;
        border-bottom-left-radius: 70%;
        border-top-left-radius: 70%;
    }
}